html, body{
	margin:0;
	background:#D8D8D8;
	
}
.outercontent{
	padding:25px 45px;
}
.content{
	padding:25px;
	background:#FFFFFF;
	margin:0px 0px 30px 0px;
}

p{
	margin:0;
	padding:0;
	font-size:16px;
	overflow:auto;
}
.button{
	padding:10px;
	font-size:24px;
	width:100px;
	margin-top:30px;
	margin-right:20px;
	display:inline-block;
	text-align:center;

}
.click{
	margin:0;
	padding:0;
	font-size:24px;
	color:white;
}
.redButton{
	background:#D0021B;
}
.blueButton{
	background:#4A90E2;
}
.bottom{
	
	background:#FFFFFF;
	
}
.insertimage{
	background:#4A4A4A;
	height:300px;
	display:-webkit-flex;
  	display:flex;
  	-webkit-align-items: center;
          align-items: center;
  	-webkit-justify-content: center;
          justify-content: center;
		
}
.ii{
	
	color:white;
	font-size:32px;
	text-align:center;
}
footer{
	background:#333333;
	color:white;
	height:60px;
	text-align: center;
	font-size: 22px;
	
}
.applegoogle{
	float:right;
	margin:20px 40px 15px 0px;
	font-family:arial;

}